/*RESET CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 400vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  color: white;
  list-style: none;
  align-items: center;
  z-index: 9999999999;
  padding: 20px 15%;
  width: 100%;
  height: 12vh;
}

header.apa {
  padding: 10px 15%;
  background-color: white;
  color: black;
}

header.apa > .header-logo > h1 {
  color: #23a00d;
}

header.apa > .navbar > .navbar-extra > span {
  color: black;
}

header.apa > .navbar div > a {
  color: black;
}

header.apa > .navbar div > a:hover {
  color: #23a00d;
}

header.apa > .navbar > div > span:hover {
  color: #23a00d;
}

header.apa > .navbar > .tombol-login > button {
  background-color: #23a00d;
  color: white;
}

header.apa > .navbar > .tombol-login > button:hover {
  background-color: #116a01;
  color: white;
}

.header-logo {
  font-size: 23px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-family: "Pacifico", cursive;
}

#teh {
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.sec-nav {
  display: flex;
  column-gap: 50px;
  align-items: center;
  position: relative;
  bottom: 2px;
}

.navbar div > a {
  color: white;
  font-size: 18px;
}

.navbar div > a:hover {
  color: #23a00d;
}

.navbar-extra {
  height: 25px;
  display: flex;
  align-items: center;
  position: relative;
  column-gap: 40px;
}

.navbar-extra span {
  z-index: 999;
  font-size: 23px;
  cursor: pointer;
}

.navbar-extra > span:hover {
  color: #23a00d;
}

#menu {
  display: none;
  color: black;
}

.tombol-login {
  padding-left: 20px;
}

.tombol-login button {
  padding: 13px 25px;
  font-size: 15px;
  align-items: center;
  position: relative;
  border: none;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.navbar button:hover {
  background-color: #23a00d;
  color: white;
  cursor: pointer;
}

/* SECTION 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.448),
      rgba(0, 0, 0, 0.679)
    ),
    url(asset/pexels-min-an-911804.jpg);
  background-size: cover;
  background-position: center;
}

.tag-title {
  padding-top: 90px;
  padding-left: 230px;
}

.tagline1 {
  width: 75%;
  line-height: 80px;
  padding-top: 110px;
  padding-bottom: 20px;
  font-size: 60px;
}

.tag-title > p {
  width: 65%;
  font-size: 20px;
}

.btn-1 {
  color: black;
  padding: 25px 25px;
  border: none;
  background-color: white;
  border-radius: 5px;
  margin-top: 50px;
  font-size: 15px;
}

.direct {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 20%;
  row-gap: 20px;
  left: 230px;
}

.direct button:hover {
  background-color: #23a00d;
  color: white;
  cursor: pointer;
}

#move {
  font-size: 2.2rem;
  font-weight: 600;
  animation: gerak 0.5s ease infinite alternate;
}

@keyframes gerak {
  to {
    transform: translateY(10px);
  }
}

/* SECTION 2 */
.section-2 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.profile {
  display: flex;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.308),
    rgba(0, 0, 0, 0.734)
  );
}

.gambar {
  display: grid;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #f8f9f8;
  padding-top: 50px;
}

.text {
  display: grid;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: url("../SUBMISSION/asset/katrin-hauf-TaJkaQ_yBW0-unsplash\ \(1\).jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.content {
  z-index: 99;
  left: 30px;
  padding-top: 50px;
}

.toko {
  width: 620px;
  z-index: 99;
  margin-left: 100px;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.532);
}

.palu {
  width: 68%;
  margin-left: 120px;
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-weight: bold;
  line-height: 80px;
  padding-bottom: 10px;
}

.palu-1 {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-left: 120px;
  font-weight: lighter;
  padding-bottom: 20px;
  width: 68%;
}

.content .btn-2 {
  margin-left: 120px;
  margin-top: 49px;
  padding: 20px 40px;
  border-radius: 5px;
  color: black;
  border: none;
  font-size: 15px;
  bottom: 10px;
  position: relative;
}

.content .btn-2:hover {
  background-color: #23a00d;
  color: white;
  cursor: pointer;
}

.overley {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.211),
    rgba(0, 0, 0, 0.556)
  );
}

/* SECTION 3 */
.seaction-3 {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.tag-sell {
  display: flex;
  position: relative;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  top: 52px;
}

.span3 {
  width: 350px;
  height: 1.8px;
  background-color: black;
}

.best {
  color: black;
  font-size: 30px;
}

.kalimat-promosi {
  color: black;
  font-size: 20px;
  width: 35%;
  margin: 30px auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.menu {
  display: flex;
  width: 100%;
  column-gap: 40px;
  justify-content: center;
}

div .this-product {
  width: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.menu > div .judul,
.harga {
  color: black;
  font-size: 18px;
}

.menu-button {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 5px;
}

.menu-button div > button {
  padding: 6px 15px;
  margin-top: 5px;
  border: none;
  background-color: #dedede;
  color: black;
  font-size: 20px;
  border-radius: 3px;
}

.menu-button div > button:hover {
  background-color: #23a00d;
  color: #dedede;
  cursor: pointer;
}

.menu-button div > button:active {
  background-color: #dedede;
  color: black;
}

/* SEACTION 4 */
.section-4 {
  width: 100%;
  height: 110vh;
  display: flex;
  position: relative;
  top: 47px;
  background: url(../SUBMISSION/asset/ravi-pinisetti-ySQXoZLAsmc-unsplash.jpg);
  background-size: cover;
}

.find {
  z-index: 9999;
  display: flex;
  height: 100px;
  width: 100%;
  position: absolute;
  justify-content: space-between;
  padding: 200px;
}

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.contact h1 {
  position: absolute;
  top: 180px;
  z-index: 9;
  font-size: 45px;
}

.contact-us {
  background-color: rgb(255, 255, 255);
  z-index: 99;
  height: 380px;
  width: 580px;
  border-radius: 10px;
  position: relative;
  top: 70px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.682);
}

.form-2 {
  display: flex;
  column-gap: 20px;
  padding: 20px 70px 20px 70px;
  justify-content: space-between;
}

.label label {
  display: block;
  color: black;
  border-radius: 3px;
}

.label input {
  color: black;
  width: 100%;
  height: 35px;
  border: 1px black solid;
  border-radius: 5px;
}

.form-text {
  padding: 0 70px;
  position: relative;
  bottom: 0px;
}

.form-text label {
  display: block;
  color: black;
}

.form-text textarea {
  color: black;
  width: 100%;
  border-radius: 5px;
}

.message {
  padding: 0px 70px;
}

.message input {
  display: block;
  margin-bottom: 13px;
}

.message button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: #dedede;
  font-size: 13px;
}

.message button:hover {
  color: white;
  background-color: #23a00d;
  cursor: pointer;
}

.maps {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maps h1 {
  position: absolute;
  top: 180px;
  z-index: 9;
  font-size: 45px;
}

.maps2 {
  border-radius: 10px;
  position: relative;
  z-index: 999999;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.682);
  height: 380px;
  width: 580px;
  top: 45px;
}

.bayangan-2 {
  position: absolute;
  width: 100%;
  height: 110vh;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.211),
    rgba(0, 0, 0, 0.607)
  );
  z-index: 0;
}

/* SECTION 5 */
.section-5 {
  width: 100%;
  height: 80vh;
  position: relative;
}

.tambah-coment {
  height: 10px;
  top: 55px;
  position: relative;
}

.tambah-coment button {
  color: black;
  display: flex;
  justify-content: left;
  position: relative;
  left: 35px;
  font-size: 15px;
  padding: 10px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #e9e9e9;
}

.tambah-coment button:hover {
  background-color: #23a00d;
  color: white;
  cursor: pointer;
}

.coment-title {
  position: relative;
  padding-top: 10px;
}

.title-coment {
  display: flex;
  position: relative;
  justify-content: center;
  top: 80px;
  color: rgb(0, 0, 0);
  padding-bottom: 100px;
  font-size: 30px;
}

.main-coment {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0px 33px;
}

.tag {
  width: 50%;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  top: 10px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin: auto;
}

.coment {
  background-color: #e9e9e9;
  align-items: center;
  margin-top: 100px;
  color: black;
  width: 45vh;
  height: 20vh;
  position: relative;
  border-radius: 5px;
}

.coment::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-color: #e9e9e9;
  transform: rotate(45deg);
  top: 138px;
  left: 13px;
  border-radius: 3px;
}

.coment p {
  color: black;
  position: relative;
  display: block;
  padding: 0 40px;
  width: 100%;
  padding-top: 10px;
  font-size: 0.9rem;
}

.star {
  padding: 0 40px;
  padding-top: 5px;
}
.star i {
  color: black;
}

.profile-coment {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.profile-coment img {
  width: 50px;
  border-radius: 100px;
}

.profile-coment div > p {
  color: black;
  margin-left: 10px;
  font-weight: bold;
}

/* FOOTER */

footer {
  width: 100%;
  height: 40vh;
  position: relative;
  background-color: #e9e9e9;
}

.sec-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 150px;
}

.isi-footer h2,
a {
  color: black;
  padding-top: 5px;
}

.isi-footer h2 {
  padding-bottom: 5px;
  font-size: 23px;
}

.isi-footer a {
  display: grid;
  font-size: 15px;
}

.last {
  color: #23a00d;
  font-family: "Pacifico", cursive;
  font-size: 2.8rem;
  padding-bottom: 30px;
}

.sosmed {
  display: flex;
  column-gap: 22px;
  line-height: 30px;
}

.sosmed i {
  color: black;
  font-size: 24px;
  justify-content: center;
}

.footer-email {
  position: relative;
  bottom: 30px;
  color: black;
  align-items: center;
  display: flex;
  justify-content: left;
  column-gap: 10px;
  top: 10px;
  left: 2px;
}

.footer-email i {
  font-size: 20px;
  color: black;
  position: relative;
}

.footer-email p {
  font-size: 12px;
  color: black;
}

/* RESPONSIF */
@media only screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .header-logo h1 {
    font-size: 90%;
  }
  .navbar .sec-nav {
    column-gap: 15px;
  }
  .navbar .sec-nav a {
    font-size: 80%;
  }
}

/* MAAF KAK NDA SEMPAT SAYA SELESAIKAN RESPONSIFNYA :( */
